name: C++ CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Compile with g++
      run: g++ main.cpp -o nefia -pthread

  build-windows-msvc:
    name: Build on Windows with MSVC
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Compile with MSVC
      shell: cmd
      run: cl /EHsc main.cpp /Fe:nefia.exe

  build-windows-mingw:
    name: Build on Windows with MinGW
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Compile with MinGW (g++)
      run: g++ main.cpp -o nefia -lws2_32

  build-macos:
    name: Build on macOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Compile with clang++
      run: clang++ main.cpp -o nefia -pthread
